
@font-face {  
    font-family: 'LiXuKeShuFa';  
    src: url('./lixukeshufa.ttf') format("truetype");  
    font-weight: normal;  
    font-style: normal;  
}  
@font-face {
    font-family: "FZXiJinLJW";
    src: url("./FZXiJinLJW.ttf") format("truetype");
  }